@import url('https://fonts.googleapis.com/css?family=Zen+Antique');

html {
  font-family: "Zen Antique", serif;
  background-color: #44aacc;
  font-size: 20px;
}

h1 {
  width: 65vw;
  background-color: #ffffff88;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
}

h2 {
  width: 60vw;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

h2.mylink {
  background-color: #ffaa55bb;
  color: #ffffff;
}

h2.sns {
  background-color: #00ff88bb;
  color: #ffffff;
}

h2.aboutme {
  background-color: #3355ffbb;
  color: #ffffff
}

a {
  text-decoration: none;
  color: #0066ff
}

p {
  color: #ffffff;
}

p.links a{
  color: #0000ff;
}

tr {
  color: #ffffff;
}

.paragraph {
  background-color: #ccffff44;
  margin: 10px;
  padding: 15px 5px;
  border-radius: 15px;
  width: 85vw;
}

.am {
  padding: 10px;
  margin: 10px;
  width: 70vw;
  background-color: #99bbff88;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.block {
  padding: 5px;
  display: inline-block;
  margin: 5px 10px;
  white-space: nowrap;
  width: 250px;
}

.left {
  font-size: 18px;
  background-color: #aaaaaaaa;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  vertical-align : middle;
}

.right {
  font-size: 18px;
  background-color: #eeeeff;
  color: #000000;
  padding: 5px 10px;
  margin: auto;
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 10px;
  vertical-align : middle;
}

.youtube {
  background-color: #dd0000bb;
}

.twitter {
  background-color: #00aaffbb;
}

.github {
  background-color: #000000bb;
}

.discord {
  background-color: #5555ffbb;
}

.ld {
  position: fixed;
  bottom: 0;
  left: 0;
}

.rb {
  position: fixed;
  right: 0;
}

.rd {
  position: fixed;
  bottom: 0;
  right: 0;
}

button#fb, button#cb {
  font-size: 1rem;
  background-color: #006600;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

p.rbt {
  background-color: #55555555;
  font-size: 0.5em;
}

.gamingmode {
  animation-name: gamingbg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes gamingbg {
  0% {
    background-color: #ff0000
  }
  10% {
    background-color: #ff8800
  }
  20% {
    background-color: #00ff88
  }
  30% {
    background-color: #00ff00
  }
  40% {
    background-color: #0088ff
  }
  50% {
    background-color: #008888
  }
  60% {
    background-color: #0000ff
  }
  70% {
    background-color: #8800ff
  }
  80% {
    background-color: #880088
  }
  90% {
    background-color: #ff00ff
  }
  100% {
    background-color: #ff0000
  }
}
