html {
  background-color: #77ffff;
}

.menu {
  padding: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #77ddff;
  font-size: 20px;
}

a.inquiry {
  color: #0055ff
}

p {
  font-size: 20px;
}

#multihcq,
#addon,
#calc,
#bookmarklet {
  color: #ffffff;
  background-color: #5555bbaa;
  width: 80%;
  margin: 10px;
  padding: 5px;
  display: block;
  border-radius: 10px;
}

label {
  color: #ffffff;
  background-color: #22aa22aa;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5em;
}
