html {
  background-color: #f0ffff
}

.wazazone {
  width: min(80vw, 720px);
  font-size: 1.8rem;
  padding: 1rem;
  margin: 1rem;
}

.pointsum {
  font-size: 2rem;
  font-weight: bold;
}

div.jobtext {
  font-size: 2rem;
  word-break: keep-all;
  margin-bottom: 15px;
}

.jobtext label {
  border-radius: 5px;
  padding: 1.5px;
}

button,
input {
  font-size: 1.2rem;
  color: #000000;
  background-color: #ffffff;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

select {
  font-size: 1.2rem;
  appearance: none;
  height: calc(2rem + 5px);
  color: #000000;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid;
}

.wazazone div#wazainfo {
  font-size: 1.2rem;
  background-color: #aaffff;
  margin: 1rem 10%;
  padding: 0rem 1rem 20px;
}

@media (min-width: 450px) {
  .type0 br,
  .type1 br,
  .type2 br,
  .type3 br,
  .type4 br,
  .type5 br,
  .mobilebr {
    display: none;
  }
}

@media (max-width: 450px) {
  button.mobilestyle {
    font-size: 0.8rem;
    height: 5vh;
  }
  select.mobilestyle {
    font-size: 0.9rem;
    height: 5vh;
  }
  select.mobilestyle2 {
    font-size: 0.8rem;
    height: 5vh;
  }
}

.wazazone div#wazainfo span#infoclose {
  font-size: 2em;
  text-align: right;
  left: auto;
  padding-right: 0.1rem;
  display: block;
}

textarea {
  font-size: 1rem;
  width: min(80vw, 600px);
  height: min(10vw 160px);
}

legend {
  font-size: 1.2rem;
}

fieldset {
  margin: 0 min(80px, 3vw);
  padding: 10px min(30px, 5vw);
  font-size: 1.2rem;
  word-break: keep-all;
}
